<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
</head>
<body>
    <font>用戶IP：</font>{{ ip }}
    <h3>Class List</h3>
    <hr>
    {% for class in classes %}
    <li>

        <a href={% url 'class_students' class.id %}>
            {{ class.c_name }}
        </a>
    </li>
    {% endfor %}
    <table>
        <form action= {% url 'newclass' %}>
            <tr>
                <td>
                    <input type="text" name="cn">
                </td>
                <td>
                    <input type="submit" value="送出">
                </td>
            </tr>
        </form>

    </table>
</body>
</html>